/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2
*/
body{
    margin: 0;
}

.nav-wrapper img{
    width: 6%;
    margin-top: 7px;
    margin-left: 20px;
}
nav{
    position: fixed;
    z-index: 1;
}

.fondo {
    background-image: url(../img/cropped-Lyft-Promo-Codes-car-1.jpg);
    padding-top:70vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.caja-uno{
    width: 40%;
    height: 45%;
    background-color: whitesmoke;
    position: absolute;
    left: 60%;
    top: 90px;
}
.titulo{
    text-align: center;
    font-size: 21px;
    color:#00B2A9;
    margin-top:20px;
}
.row .col.s6 {
    width: 100%;
    margin-left: auto;
    right: auto;
}
.btn.boton{
    margin-left: 30px;
    position: absolute;
    border-radius: 13px;
    background-color:#ee6e73;
    width: 65%;
}
.info1{
    margin-top: 56px;
    font-size: 12px;
    margin-left: 10px;
}
.info2{
    font-size: 12px;
    margin-left: 10px;
}
.dos h1{
    color: grey;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    background-color: white;
}

.dos{
    background-color: #00B2A9;
    height: 50%;
}

.caja{
    background-color: white;
    padding-top: 21vh;
}

.waves-effect{
    border-radius: 1px solid transparent;
    width: 50%;
    margin-left: 212px;
    margin-bottom: 60px;
}

.page-footer{
    background-color: grey;
}





